#ideal .box-content .motto{
  font-size: 25px;
  margin: 20px 0px;
  color: #95c530;
  font-weight: bold;
}
#ideal .box-content p{
  padding: 0px 60px;
  line-height: 1.8;
}
#aboutus .box-content{
  padding: 20px 28px 35px;
}
#aboutus .box-content table{
  width: 100%;
  border-collapse: collapse;
}
#aboutus .box-content th{
  padding: 15px 10px;
  text-align: left;
  border-bottom: 1px dashed #95c530;
}
#aboutus .box-content td{
  padding: 15px 0px;
  border-bottom: 1px dashed #95c530;
}
@media(max-width: 1000px){
  .sub-header h1{
    padding-left: 30px;
  }
  .main-content .left-content.sidebar{
    width: 26%;
  }
  .main-content .right-content.main{
    width: 70%;
    margin-left: 0px;
    float: right;
  }
}
@media(max-width: 850px){
  .main-content .left-content.sidebar{
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .main-content .right-content.main{
    float: none;
    width: 100%;
  }
}
@media(max-width: 600px){
  .sub-header{
    margin-top: 60px;
  }
}
@media(max-width: 500px){
  .sub-header{
    height: 130px;
  }
  .sub-header h1{
    font-size: 24px;
  }
  #ideal .box-content .motto{
    font-size: 22px;
  }
  #ideal .box-content p{
    padding: 0px 10px;
  }
  #aboutus .box-content{
    padding: 20px 20px 35px;
  }
  #aboutus .box-content th{
    padding: 15px 10px 15px 0px;
    font-size: 12px;
  }
}